<div nz-row nzJustify="center" nzAlign="middle" style="margin-top: 1vw;">
    <div nz-col nzXs="20" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzSpan="6">
        <img src="../../../assets/img/20210330212150_Carna_AI_Logo_Text.png" style="width: 100%;">
        <h1 style="text-align: center;">How will you use Carna</h1>
    </div>
</div>
<div nz-row nzJustify="center" nzAlign="middle" style="margin-top: 1vw;">
    <div nzJustify="center" nzAlign="middle" nz-col nzXs="20" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzSpan="6">
        <div nz-col nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20" nzSpan="20" nzJustify="center" nzAlign="middle" style="margin-top: 5vw;">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select your age"  [(ngModel)]="selectedValue" style="width: 80%;">
            <nz-option *ngFor="let item of data" [nzLabel]="item.age"
            [nzValue]="item">{{item.age}}</nz-option>

          </nz-select>
        </div>
        <div nz-col nzXs="20" nzJustify="center" nzAlign="middle" nzSm="20" nzMd="20" nzLg="20" nzXl="20" nzSpan="20" style="margin-top: 5vw;">
            <button nz-button class="login-form-button login-form-margin" (click)='continue()' [nzType]="'primary'"
                style="width: 100%;">Continue</button>
        </div>
    </div>
</div>